{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}DEFAULT TITLE{% endblock title %}</title>
  </head>
  <body>

{#    NAVBAR    #}
{% include 'inc/_nav.html' %}

{#   SIDEBAR   #}
{% block sidebar %}DEFAULT SIDEBAR{% endblock sidebar %}

{#    CONTENT   #}
{% block content %}DEFAULT CONTENT{% endblock content %}


    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>