{% extends 'base.html' %}

{#   TITLE   #}
{% block title %}
    {{ category.title }} | Новости
{% endblock title %}
{#   SIDEBAR   #}
{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock sidebar %}
{#   CONTENT   #}
{% block content %}
{% for item in news %}
    <div class="div" style="margin: 15px auto; max-width: 900px;">
    <div class="card md-5" style="max-width: 900px;">
        <div class="row g-0">
            <div class="col-md-4">
                {% if item.photo %}
                    <img src="{{ item.photo.url }}" class="img-fluid rounded-start" alt="...">
                {% else %}
                    <img src="" class="img-fluid rounded-start" alt="...">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-header" style="margin:0 auto; background-color: lightcyan; margin-bottom: 5px; display: flex; justify-content: space-between">
                        <p style="margin: 0 auto; display: block">Категория: </p><button type="button" class="btn btn-outline-secondary btn-sm">{{ item.category }}</button>
                    </div>
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.content|linebreaks|truncatewords:40 }}</p>
                    <p class="card-text"><small class="text-muted">{{ item.created_at|date:"z-Y (l) H:i e" }}</small></p>
                    <a style="text-decoration-skip-ink: auto;" href="{{ item.get_absolute_url }}">
                            <button type="button" class="btn btn-primary btn-sm">Читать...</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
{% endblock content %}
