{% extends 'base.html' %}

{#   TITLE   #}
{% block title %}
    {{ news_item.title }} | {{ news_item.category }}
{% endblock title %}

{#   SIDEBAR   #}
{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock sidebar %}

{#   CONTENT   #}
{% block content %}
    <div class="div" style="margin: 15px auto; max-width: 900px;">
    <a style="text-decoration-skip-ink: auto;" href="{% url 'index' %}">
        <button type="button" class="btn btn-outline-secondary btn-sm">
            Назад
        </button>
    </a>
    <div class="card md-5" style="max-width: 900px;">
        <div class="row g-0">
            <div class="col-md-4">
                {% if news_item.photo %}
                    <img src="{{ news_item.photo.url }}" class="img-fluid rounded-start" alt="...">
                {% else %}
                    <img src="" class="img-fluid rounded-start" alt="...">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-header" style="margin:0 auto; background-color: lightcyan; margin-bottom: 5px; display: flex; justify-content: space-between">
                        <p style="margin: 0 auto; display: block">Категория: </p>
                        <a style="text-decoration-skip-ink: auto;" href="{{ news_item.category.get_absolute_url }}">
                            <button type="button" class="btn btn-outline-secondary btn-sm">
                                {{ news_item.category }}
                            </button>
                        </a>
                    </div>
                    <h5 class="card-title">{{ news_item.title }}</h5>
                    <p class="card-text">{{ news_item.content|linebreaks }}</p>
                    <p class="card-text"><small class="text-muted">{{ news_item.created_at|date:"z-Y (l) H:i e" }}</small></p>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
